{% extends 'main.html' %}

{% block content %}
<h1> Strona główna</h1>

<div>

    <a href="{% url 'create-room' %}">Stwórz pokój</a>
    <div>
        {% for room in rooms %}
            <div>
                <a href="{% url 'update-room' room.id %}">Edycja</a>
                <a href="{% url 'delete-room' room.id %}">Usuń</a>
                <span>@{{room.host.username}}</span>
                <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
                <small>{{room.topic.name}}</small>
            </div>
        {% endfor%}
    </div>
</div>

{% endblock %}