{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Nazwa użytkownika:</label>
        <input type="text" name="username" placeholder="Nazwa użytkownika">
        <label>hasło:</label>
        <input type="password" name="password" placeholder="Hasło">

        <input type="submit" value="Zaloguj">
    </form>
    <p>Nie masz konta?</p>
    <a href="{%  url 'register' %}">Zarejestruj się</a>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Zarejestruj">
    </form>

    <p>Masz konto?</p>
    <a href="{%  url 'login' %}">Zaloguj się</a>

</div>

{% endif %}

{% endblock content %}